/* Footer.css */
footer {
    background-color: #2c2c2c;
    color: #dcdcdc;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #444;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

footer p {
    margin: 0;
}


@media (max-width: 450px) {
    p {
        font-size: 0.7rem;
    }
}
